body {
    background-color: cornflowerblue;
    margin: 100px 150px 0px 250px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 7fr 1fr;
}

.game {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(16, auto);
    grid-template-rows: repeat(16, auto);
    justify-content: center;
}

.square {
    background-color: rgb(240, 240, 240);
    border: 1px solid black;
    width: 15px;
    height: 15px;
}

footer {
    position: fixed;
    bottom: 0px;
    right: 5px;
}

.menu {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
}