body {
    background-color: cornflowerblue;
    margin: 100px 200px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 7fr 1fr;
    
}

.game {
    margin: 0px 50px;
    position: relative;
    display: grid;
    width: 416px;
    justify-content: center;
}

.square {
    background-color: rgb(240, 240, 240);
    border: 1px solid black;
    width: 26px;
    height: 26px;
}

footer {
    position: fixed;
    bottom: 0px;
    right: 5px;
}

.menu {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
}